@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
img{
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(60, 53, 79, 1);
}
h3 {
	font-size: 48px;
	text-transform: capitalize;
	color: rgba(249, 72, 178, 1);
	font-weight: 700;
    margin-bottom: 20px;
}
.s-padding{
    padding: 70px 0;
}
.btn-1 {
	color: #fff;
	background: rgba(255, 66, 165, 1);
	padding: 15px 30px;
	display: inline-block;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
	border-radius: 30px;
	margin: 25px 0;
}
.header-area {
	background: #FFF;
	padding: 20px 0;
	box-shadow: 0 0 3px #e8dede;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-area a {
	align-items: center;
	display: flex;
}
.logo-area img {
	width: 80px;
	height: 40px;
	object-fit: contain;
}
.logo-text {
	font-size: 45px;
	font-weight: 700;
	margin-left: 20px;
}
.logo-text span{
    color: rgba(255, 66, 165, 1);
}
.menu-area ul {
	display: flex;
}
.menu-area ul li {
	padding: 12px 25px;
}
.menu-area ul li:nth-child(3) {
	background: #E7E6E9;
	text-transform: capitalize;
	border-radius: 7px;
}
.menu-area ul li a i{
    font-size: 20px;
}
.youtube {
	margin: 0 7px 0 10px;
	color: red;
}
/* Header Area CSS End */
/* ======================== */
/* Banner Area CSS start */
.banner-area {
	background: url('../image/Group\ 14.png') no-repeat scroll top right 100%;
}
.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-content h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 600;
	color: rgba(11, 2, 35, 1);
}
.banner-content h1 {
	font-size: 95px;
	text-transform: uppercase;
	color: rgba(249, 72, 178, 1);
	font-weight: 900;
}
.banner-image {
	width: 600px;
	height: 700px;
}
.banner-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.banner-items ul li {
	line-height: 30px;
	font-weight: 500;
}
.banner-items ul li i{
    color: rgba(249, 72, 178, 1);
    margin-right: 5px;
}
.sign-up{
    margin-left: 20px;
    background: rgba(78, 197, 247, 1);
}
/* Banner Area End */
.gamer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.gamer-image {
	width: 750px;
	height: 400px;
}
.gamer-image img{
    width: 100%;
    height: 100%;
}
.gamer-content {
	text-align: right;
	max-width: 460px;
	width: 100%;
}
.gamer-content p {
	font-size: 16px;
}
.gamer-content h6 {
	font-size: 19px;
	ccolor: rgba(83, 76, 100, 1);
	font-weight: 400;
}
.gamer-content h5 {
	font-size: 27px;
	color: rgba(83, 76, 100, 1);
}
/* We Are Gamer Css End */
.title{
    text-align: center;
}
.gamer-title{
    margin-bottom: 50px;
}
.title span {
	color: rgba(11, 2, 35, 1);
}
.gamer-item {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 20px;
}
.single-item-img {
	width: 270px;
	height: 350px;
    position: relative;
}
.hidden {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    visibility: hidden;
}
.hidden i, .hidden p{
    color: #fff;
}
.hidden i{
    font-size: 40px;
}
.single-item-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}
.single-items p {
	font-size: 16px;
	padding: 15px 0;
}
.single-items p {
	font-size: 16px;
	padding: 15px 0;
}
.single-item-img:hover .hidden {
	visibility: visible;
	border: 3px solid  rgba(249, 72, 178, 1);
}
/* Online Gamers Area End */
.pay-instant-area{
    padding-bottom: 100px;
}
.pay-instant {
	display: flex;
	justify-content: space-between;
	align-items: center;
    gap: 50px;
}
.pay-image {
	width: 550px;
	height: 600px;
    position: relative;
}
.pay-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.title-2 {
	max-width: 410px;
	width: 100%;
	text-align: right ;
}
.overlay-image {
	position: absolute;
	bottom: -70px;
	left: -120px;
	width: 300px;
	height: 350px;
	object-fit: cover;
}
.Career-area {
	
    background: url('../image/Vector\ 2.png') no-repeat scroll top right -320px;
    background-color: rgba(255, 66, 165, 1);
}
.career {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
	justify-items: self-end;
}
.left-career {
	color: #fff;
}
.career-content h3 {
	color: #fff;
}
.right-career img {
	width: 100%;
	height: 100%;
}
.right-career {
	width: 500px;
	height: 450px;
}
.career-content p {
	max-width: 549px;
    width: 100%;
	font-size: 15px;
	text-align: justify;
	margin-bottom: 35px;
	line-height: 25px;
}
.sell-btn {
	background: #fff;
	color: rgba(255, 66, 165, 1);
}
.career-item {
	display: flex;
	justify-content: space-between;
}
.right-artist{
    text-align: right;
}
.artist ul li {
	line-height: 35px;
	font-weight: 600;
}